.container.mt-5.polkadotjs#smart-contracts-edit
  .row
    .col-md-9.mx-auto.mb-5
      .card
        .card-body
          %h1 Edit smart contract
          = form_for SmartContract.new, multipart: true, html: { name: 'smartContractEditForm' } do |f|
            .mb-3
              = f.label :id, class: 'form-label required'
              = f.text_field :id, class: 'form-control', required: true, disabled: true, value: params[:id]
            .mb-3
              = f.label :smart_contract_address, class: 'form-label required'
              = f.text_field :smart_contract_address, class: 'form-control', required: true, disabled: true
            .mb-3
              = f.label :azero_id, 'AZERO.ID', class: 'form-label required'
              = f.select :azero_id, [], { include_blank: false }, { class: 'form-select' }
            .mb-3
              = f.label :group_id, 'Group', class: 'form-label'
              = f.select :group_id, [], { include_blank: true }, { class: 'form-select' }
            .mb-3
              = f.label :project_name, class: 'form-label'
              = f.text_field :project_name, class: 'form-control'
            .mb-3
              = f.label :project_website, class: 'form-label'
              = f.text_field :project_website, class: 'form-control'
            .mb-3
              = f.label :github, class: 'form-label'
              = f.text_field :github, class: 'form-control'
            .row.mb-3
              .col-6.col-lg-3
                = f.label :audit, class: 'form-label'
                = f.file_field :audit, direct_upload: true, hidden: true, disabled: true
                .dropzone#audit-dropzone
                = f.text_field :audit_url, hidden: true
            .mb-3
              = f.check_box :enabled
              = f.label :enabled, class: 'form-label'
            = render 'button_loading', button_classes: 'btn btn-primary mt-3', button_type: 'submit', ready_label: 'Update'
