.container.polkadotjs#smart-contracts-new
  .row
    .col-md-9.mx-auto.mb-5
      .card
        .card-body
          %h1 New smart contract
          = form_for SmartContract.new, multipart: true, html: { name: 'smartContractNewForm' } do |f|
            .mb-3
              = f.label :smart_contract_address, class: 'form-label required'
              = f.text_field :smart_contract_address, class: 'form-control', required: true
            .mb-3
              = f.label :chain, class: 'form-label required'
              = f.select :chain, [['Production', 0], ['Testnet', 1]], { include_blank: false }, { class: 'form-select' }
            .mb-3
              .label-with-hint-container
                = f.label :azero_id, 'AZERO.ID', class: 'form-label required'
                %i.ms-2.ri-question-line{ tabindex: '-1', 'data-bs-trigger': 'focus', 'data-bs-html': 'true', 'data-bs-container': 'body', 'data-bs-toggle': 'popover', 'data-bs-placement' => 'top', 'data-bs-container' => 'body', 'data-bs-content': 'Associating an AZERO.ID is mandatory. It will: <ul class="ps-3"><li>enable finding by AZERO.ID.</li><li>increase trustability by making it easier to identify the creator.</li></ul>An AZERO.ID can be created <a href="https://azero.id/" target="_blank" rel="noopener">here</a>.' }
              = f.select :azero_id, [], { include_blank: false }, { class: 'form-select' }
            .mb-3
              .label-with-hint-container
                = f.label :group_id, 'Group', class: 'form-label'
                %i.ms-2.ri-question-line{ tabindex: '-1', 'data-bs-trigger': 'focus', 'data-bs-html': 'true', 'data-bs-container': 'body', 'data-bs-toggle': 'popover', 'data-bs-placement' => 'top', 'data-bs-container' => 'body', 'data-bs-content': 'Associating a group will: <ul class="ps-3"><li>enable finding by group.</li><li>increase trustability.</li></ul>Groups can be created <a href="https://btn.group/aleph_zero/groups" target="_blank" rel="noopener">here</a>.' }
              = f.select :group_id, [], { include_blank: true }, { class: 'form-select' }
            .mb-3
              = f.label :project_name, class: 'form-label'
              = f.text_field :project_name, class: 'form-control'
            .mb-3
              = f.label :project_website, class: 'form-label'
              = f.text_field :project_website, class: 'form-control'
            .mb-3
              = f.label :github, class: 'form-label'
              = f.text_field :github, class: 'form-control'
            .row.mb-3
              .col-6.col-lg-3.mb-3
                = f.label :abi, 'ABI (.json)', class: 'form-label required'
                = f.file_field :abi, direct_upload: true, hidden: true, disabled: true
                .dropzone#abi-dropzone
                = f.text_field :abi_url, hidden: true, required: true
              .col-6.col-lg-3.mb-3
                = f.label :contract, 'Contract (.contract)', class: 'form-label'
                = f.file_field :contract, direct_upload: true, hidden: true, disabled: true
                .dropzone#contract-dropzone
                = f.text_field :contract_url, hidden: true
              .col-6.col-lg-3
                = f.label :wasm, 'WASM (.wasm)', class: 'form-label'
                = f.file_field :wasm, direct_upload: true, hidden: true, disabled: true
                .dropzone#wasm-dropzone
                = f.text_field :wasm_url, hidden: true
              .col-6.col-lg-3
                = f.label :audit, 'Audit (.pdf)', class: 'form-label'
                = f.file_field :audit, direct_upload: true, hidden: true, disabled: true
                .dropzone#audit-dropzone
                = f.text_field :audit_url, hidden: true
            = render 'button_loading', button_classes: 'btn btn-primary mt-3', button_type: 'submit', ready_label: 'Create'
        .card-footer
          .card-text
            %small.text-muted The smart contract address, chain, ABI, contract file and WASM can not be changed later on.

