.container.mt-5.polkadotjs#smart-contracts-new
  .row
    .col-md-9.mx-auto.mb-5
      .card
        .card-body
          %h1 New smart contract
          = form_for SmartContract.new, multipart: true, html: { name: 'smartContractNewForm' } do |f|
            .mb-3
              = f.label :smart_contract_address, class: 'form-label required'
              = f.text_field :smart_contract_address, class: 'form-control', required: true
            .mb-3
              = f.label :environment, class: 'form-label required'
              = f.select :environment, [["Production", 0], ["Testnet", 1]], { include_blank: false }, { class: 'form-select' }
            .mb-3
              = f.label :azero_id, 'AZERO.ID', class: 'form-label required'
              = f.text_field :azero_id, class: 'form-control', required: true
            .mb-3
              = f.label :abi, class: 'form-label required'
              = f.file_field :abi, direct_upload: true, hidden: true, disabled: true
              .dropzone#abi-dropzone
              = f.text_field :abi_url, hidden: true, required: true
            .mb-3
              = f.label :contract, class: 'form-label'
              = f.file_field :contract, direct_upload: true, hidden:true, disabled: true
              .dropzone#contract-dropzone
              = f.text_field :contract_url, hidden: true
            .mb-3
              = f.label :wasm, class: 'form-label'
              = f.file_field :wasm, direct_upload: true, hidden:true, disabled: true
              .dropzone#wasm-dropzone
              = f.text_field :wasm_url, hidden: true
            = render 'button_loading', button_classes: 'btn btn-primary', button_type: 'submit', ready_label: 'Create'
