%footer.footer.d-flex.align-items-center
  .container-fluid
    .row
      .col-12.d-flex.justify-content-between
        = link_to 'https://btn.group', target: '_blank', rel: 'noopener' do
          = image_tag 'https://res.cloudinary.com/hv5cxagki/image/upload/c_scale,dpr_2,f_auto,h_30,q_auto/v1/branding/black-with-text_jrkb7u_i1xuow_ii0vtw.png', class: 'logo logo-dark'
          = image_tag 'https://res.cloudinary.com/hv5cxagki/image/upload/c_scale,dpr_2,f_auto,h_30,q_auto/v1/branding/logo_plus_text_1_fitfuq_uqsgxw.png', class: 'logo logo-light'
        .text-end
          = link_to 'https://alephzero.org/ecosystem-funding-program', target: '_blank', rel: 'noopener' do
            = image_tag 'https://res.cloudinary.com/hv5cxagki/image/upload/v1698832330/logos/aleph-zero-efp.a76d0a07_xvnkap.svg', class: 'logo logo-dark'
            = image_tag 'az-efp-light.svg', class: 'logo logo-light'
