!!!
%html.h-100.js{ lang: 'eng' }
  %head
    %title= head_title
    %meta{ charset: 'utf-8' }
    %link{ href: head_link, rel: 'shortcut icon' }
    %meta{ name: 'description', content: head_description }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %meta{ property: 'og:image', content: head_image
     }
    %meta{ property: 'og:site_name', content: 'Smart Contract Metadata Hub' }
    = csrf_meta_tags
    = csp_meta_tag

    -# === THEME STYLESHEETS ===
    = stylesheet_link_tag 'application'
    :javascript
      global = globalThis
    = javascript_include_tag 'application', defer: true

  %body
    = yield
